<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Joyas</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Material</th>
          <th>Tipo</th>
		  <th>Precio</th>
		  <th>Marca</th>
          <th>Peso</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let joya of joyas | async">
          <td>{{joya.nombre}}</td>
          <td>{{joya.material}}</td>
          <td>{{joya.tipo}}</td>
		  <td>{{joya.precio}}</td>
		  <td>{{joya.marca}}</td>
		  <td>{{joya.peso}}</td>
          <td><button (click)="confirmardeleteJoya(joya.id)" class="btn btn-danger">Borrar</button>
              <button (click)="updateJoya(joya.id)" class="btn btn-info" style="margin-left: 10px">Actualizar</button>
              <button (click)="openDetalle(joya.id)" class="btn btn-info" style="margin-left: 10px">Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<jw-modal id="custom-modal-1">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
          <th>Material</th>
          <th>Tipo</th>
		  <th>Precio</th>
		  <th>Marca</th>
          <th>Peso</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="joya">
      <td>{{joya.nombre}}</td>
          <td>{{joya.material}}</td>
          <td>{{joya.tipo}}</td>
		  <td>{{joya.precio}}</td>
		  <td>{{joya.marca}}</td>
		  <td>{{joya.peso}}</td>
    </tr>
  </tbody>
  </table>
    <button (click)="closeModal('custom-modal-1');" class="btn btn-info">Cerrar</button>
</jw-modal>

<jw-modal id="custom-modal-2">
  <p>¿Está seguro de eliminar el item seleccionado?</p>
  <p>Al dar click en Aceptar el item no se podrá recuperar.
  Presione Cerrar para volver a la lista.</p>
  <button (click)="deleteJoya();"  class="btn btn-danger">Aceptar</button>
  
  <button (click)="closeModal('custom-modal-2');" class="btn btn-info" style="margin-left: 10px">Cerrar</button>
</jw-modal>
